* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.date {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.date-picker-title {
  color: #e17c64;
  margin-bottom: 30px;
}

.date-picker-input {
  margin-bottom: 5px;
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 17rem;

  box-shadow: 1px 2px 10px 0px #9b9596;
  border-radius: 15px;
}

/******************** calendar-nav  스타일링 ***********************/
.calendar-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background-color: #c344b2;
  color: white;

  border-radius: 15px 15px 0 0;
}

i {
  color: white;
}

.calendar-nav-month-year {
  text-align: center;
  padding: 15px 0;
}

.calendar-nav-btn {
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 22px;

  font-size: 20px;
}

.go-prev {
  position: absolute;
  top: 0;
  left: 40px;
}

.go-next {
  position: absolute;
  top: 0;
  right: 40px;
}

/* 그리드 */
.days,
.all-days {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(7, 20px);
  grid-gap: 1em;

  /*   border: 1px solid red; */
}

.all-day:nth-child(7n + 1) {
  color: red;
}

.all-days {
  position: relative;
}

.thisMonth:hover,
.otherMonth:hover {
  cursor: pointer;
  background-color: #c344b2;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
}

.thisMonth,
.otherMonth {
  height: 1.9rem;
  line-height: 2rem;
}

.hidden {
  visibility: hidden;
}

.day-of-the-week,
.otherMonth {
  opacity: 0.3;
}

.today {
  position: relative;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 30px;
  height: 30px;
  display: block;
  border: 1px solid #c344b2;
  border-radius: 50%;
  content: ' ';
}
